<!DOCTYPE html>
<html>
  <head>
    <title>AmoGuS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous"/>
    <script>
      // Add images here
      window.logo = "<%= image_url('amogus_logo') %>"
      window.defaultListingImg = "<%= image_url('amogus_logo') %>"
      </script>
      <!-- <%= favicon_link_tag asset_path("") %> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
